@using Microsoft.Extensions.Options
@inject IOptions<ProjectTesting.Models.StripeSetting> Stripe

@{
    Layout = "_Layout";
}

<div class="text-center">
    <form asp-action="Processing" asp-controller="Checkout" method="post">
        <article>
            <label>Amount: $ @ViewData["DollarAmount"]</label>
        </article>
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="@Stripe.Value.SecretKey"
                data-amount="@ViewBag.Total"
                data-name="[Devaducate]"
                data-desciption="Buying Product(s)"
                data-image="https://stripe.com/img/documantation/checkout/marketplace.png"
                data-locale="en"
                dada-zip-code="true">
        </script>
    </form>
</div>