<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProjectTesting</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ProjectTesting.styles.css" asp-append-version="true" />
   

    <style>
        .navbar-nav.navbar-center{
            position:absolute;
            left:50%;
            transform:translate(-50%);
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/Images/site_logo-removebg-preview.png" alt="" height="35px" width="120px"/></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class=" nav navbar-nav navbar-center @*navbar-nav flex-grow-1*@" >
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Categories" asp-action="Dashboard">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">About us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Products" asp-action="GetCategories">Categories</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Carts" asp-action="Index">Cart</a>
                        </li>
                        <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                            <ul class="navbar-nav">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Others
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-dark">
                                        <li class="nav-item">
                                            <a class="nav-link text-light" asp-area="" asp-controller="Categories" asp-action="Index">Category List</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-light" asp-area="" asp-controller="Products" asp-action="Index">Product List</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-light" asp-area="" asp-controller="Inventories" asp-action="Index">Inventory List</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </ul>
                    <partial name="_LoginPartial" class="text-light"/>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    @*Footer*@
<footer class="bd-footer py-4 py-md-5 mt-5 bg-dark">
  <div class="container py-4 py-md-5 px-4 px-md-3">
    <div class="row">
      <div class="col-lg-3 mb-3">
       <span class="fs-2 text-light ">A-Mart</span>
       
        <ul class="list-unstyled small text-muted">
          <li class="mb-2">Designed and built with all the love in the world by the <a href="#">.Net Batch 1 Team-3</a>.</li>
          <li class="mb-2">Code licensed <a href="#" target="_blank" rel="license noopener">A-MART</a>, Team <a href="#" target="_blank" rel="license noopener">CC BY 3.0</a>.</li>
          <li class="mb-2">Currently v5.2.0.</li>
        </ul>
      </div>
      <div class="col-6 col-lg-2 offset-lg-1 mb-3 text-light">
        <h5>Links</h5>
        <ul class="list-unstyled">
          <li class="mb-2">Home</li>
          <li class="mb-2">Dashboard</li>
          <li class="mb-2">Categories</li>
          <li class="mb-2">Cart</li>
          <li class="mb-2">Admin</li>
          
        </ul>
      </div>
      
        
      <div class="col-6 col-lg-2 mb-3 text-light">
        <h5>Technologies Used</h5>
        <ul class="list-unstyled">
          <li class="mb-2">ASP.Net</li>
          <li class="mb-2">C#</li>
          <li class="mb-2">HTML/CSS</li>
          <li class="mb-2">Javascript</li>
          <li class="mb-2">Bootstrap</li>
        </ul>
      </div>
      <div class="col-6 col-lg-2 mb-3 text-light">
        <h5>Group Members</h5>
        <ul class="list-unstyled">
          <li class="mb-2">Anshika</li>
          <li class="mb-2">Adeeb</li>
          <li class="mb-2">Aditya</li>
          <li class="mb-2">Aniket</li>
          <li class="mb-2">Aryan</li>
        </ul>
      </div>
      <div class="col-6 col-lg-2 mb-3">
       <span class="fs-5 text-light ">Reach us</span>
       
        <ul class="list-unstyled small text-muted">
          <li class="mb-2">We Work From Home</li>
          <li class="mb-2">Bye Bye</li>
          <li class="mb-2">Currently v5.2.0.</li>
        </ul>
      </div>
      
    </div>
  </div>
</footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
