@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<hr />
<br />

<h4>Use this page to detail your site's privacy policy.</h4>
<br />

<h6>This is a testing project. So not for any Commercial Use.</h6>
<p class="mt-auto">Here Customers can either be a buyer, a seller as well as a buyer and a seller. The Customers will be allowed to create their own products which will be updated on the Dashborad which the vendors and the admins will be able to see. The products by the Vendors and the Customers(Sellers) will be displayed on the homepage. The Products created by the Customers will be checked real-time with the help of AI so not to break any rules or regulations.</p>
<p class="mt-auto"><i>The Products to be sold here should be of utmost quality. Penalties may apply if the rule's not followed.</i></p>