@model IEnumerable<ProjectTesting.Models.Category>

@{
    ViewData["Title"] = "Categories";
}

<h1>Categories</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.categoryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.categoryName)
            </td>
            <td>
                <a asp-action="AssignProducts" asp-route-id="@item.id" class="btn btn-outline-dark">Show Products -></a>
            </td>
        </tr>
}
    </tbody>
</table>
